<h1>APPS NAME</h1>
<p>Edit your profile</p>

<form action="/auth/edit-user" method="POST">
   <label> Name
      <input type="text" name="name">
   </label>
   <label> E-Mail Adress
      <input type="text" name="email adress">
   </label>
   <label> Password
      <input type="password" name="password">
   </label>
   <button type="toggle"><0></button>
   <label> Password
      <input type="password" name="password">
   </label>
   <button type="toggle"><0></button>
   <button type="submit">Submit changes</button>
    <button type="delete">Delete</button>
   <button type="redirect">Go Back</button>

</form>