<h1>APPS NAME</h1>
<p>Edit your profile</p>

{{#with user}}

<form method="POST" action="/auth/edit-user" >
   <label> Name
      <input placeholder= "Name" name="name" value="{{name}}">
   </label>
   <label> E-Mail Adress
      <input placeholder= "Email" name="email" value="{{email}}">      
   </label>
   <label> New Password
      <input placeholder= "Password" name="password">  
   </label>

   <button type="submit">Submit changes</button>
    <button type="delete">Delete</button>
   <button type="redirect">Go Back</button>

</form>


{{/with}}

{{#if errorMessage}}
<h4 style="color: red;">{{errorMessage}}</h4>
{{/if}}