<h1>APPS NAME</h1>
<p>Log In</p>

<form action="/auth/login" method="POST">
   <label> E-Mail
      <input type="text" name="email">
   </label>
   <label> Password
      <input type="password" name="password">
   </label>

   <button type="redirect">Login</button>
   <button type="redirect">No Account? Sign Up!</button>
   <button type="redirect">Go Back</button>
</form>

{{#if errorMessage}}
<h4 style="color: red;">{{errorMessage}}</h4>
{{/if}}


   
