<h1>APPS NAME</h1>
<p>Sign Up</p>

<form action="/auth/signup" method="POST">
   <label> Name
      <input type="text" name="name">
   </label>
   <label> E-Mail Adress
      <input type="text" name="email">
   </label>
   <label> Password
      <input type="password" name="password">
   </label>
   <label> Password
      <input type="password" name="password2">
   </label>
   <button type="submit">Sign Up</button>
   <button type="redirect">Go Back</button>

</form>


   
