
<section class="header">
<div class="logo">
  <a href="/"><h1>glass<br>org</h1></a>
</div>
<ul class="buttons-left">
    <li><a href="/create-company" class="list">list your company</a></li>
    <li><a href="/profile" class="user">(:>)</a></li>
    <li><a href="/" class="door">>]]</a></li>
</ul>
{{!-- /* if not loged in signup, if logged in profile*/ change logge out direction--}}
</section>

<section id="textbody">
<p class="text">Corporate transparency is not just a movement - in the digital age transparency is a strong weapon. It leads to a more egalitarian and connected world and to more efficiency and trustworthy companies.
<br>Show your approach in beeing a substainable thinking company and give your competetors the chance to join you in doing the right thing - for a better social, ecological and economical future.
</p>
<p class="claim">Its time to share and profit - for everyone.</p>
</section>

<section id="form" >
<form action="/search-result">

<input class="form-input" name="company" placeholder="search" required>
<a href="javascript:;" onclick="parentNode.submit();">find</a>

<a href="/search-result">show all</a>

</form>
</section>



{{!-- <button type="redirect">Log out</button> --}}