
<section class="header">
<div >
  <a href="/"><img src="https://res.cloudinary.com/dk9vuaejm/image/upload/v1619177346/companylogos/07Zeichenfl%C3%A4che_2_2x_zvva5j.png" alt=""></a>
</div>
<ul class="buttons-left">
    <li><a href="/create-company" class="list">list your company</a></li>
    <li><a href="/profile" ><img class="user" src="https://res.cloudinary.com/dk9vuaejm/image/upload/v1619207951/companylogos/user_icon_001_sjujuk.jpg" alt=""></a></li>
    <li><a href="/auth/logout"><img class="door" src="https://res.cloudinary.com/dk9vuaejm/image/upload/v1619207374/companylogos/arrows-06_generated_jnylg4.jpg" alt=""></a></li>
    </ul>
{{!-- /* if not loged in signup, if logged in profile*/ change logge out direction--}}
</section>

<section id="textbody">
<p class="text">Corporate transparency is not just a movement - in the digital age transparency is a strong weapon. It leads to a more egalitarian and connected world and to more efficiency and trustworthy companies.
<br>Show your approach in beeing a substainable thinking company and give your competetors the chance to join you in doing the right thing - for a better social, ecological and economical future.
</p>
<p class="claim">It's time to share and profit - for everyone.</p>
</section>

<section id="form" >
<form action="/search-result">

<input class="form-input" name="company" placeholder="search" required>
<a href="javascript:;" onclick="parentNode.submit();">find</a>

<a href="/search-result">show all</a>

</form>
</section>



{{!-- <button type="redirect">Log out</button> --}}