<h1>APPS NAME</h1>
<p>This is the Homepage</p>

<br>
<a href="/create-company">List your company</a>
<br>
<br>
<a href="/">Profile</a>
<br>

<p>THIS IS THE IDEA EXPLAINED ABOUT TRANSPARENCY GREENWASHING <br> AND NEXT LEVEL COMPETIONS ON THE MARKET TO CONVINCE SCEPTICALS AND WIN ECOS </p>


<p>herecomes a searchbar</p>

<a href="/search-result">show all</a>


<button type="redirect">Log out</button>