<section class="header">
<div class="logo">
  <a href="/"><h1>glass<br>org</h1></a>
</div>
<ul class="buttons-left">
    <li><a href="/search-result" class="list">show companies</a></li>
    <li><a href="/auth/login" class="user">(:>)</a></li>
    <li><a href="/" class="door">>]]</a></li>
</ul>
{{!-- /* if not loged in signup, if logged in profile*/ change logge out direction--}}
</section>



<section id="body">

<div class="picture-proof-container">
<div><h4>proof your statement</h4></div>


<div class="answers">


{{#with thisCompany}}

<form method="POST" action="/proof/{{_id}}/1" enctype="multipart/form-data">
<h6>Do you have more male or more female positions in leading roles of your business?</h6>
{{#if social1}}
<p>you claim: {{social1}}</p>
{{else}}
<p>no gave comment on this<p/> 
{{/if}}

  
  {{!-- <input type= "file" name="proof1">
  <button type="submit">Upload</button> --}}


<label for="file-upload" class="file-upload">
upload a picture
</label>

<input id="file-upload" type="file" name="proof1"/>
<br>
<a class="create-btn" href="javascript:;" onclick="parentNode.submit();">send</a>




</form>



<a class="home-btn" href="/show/{{_id}}/">go back</a>


{{/with}}

</div>

</div>




</section>
