@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=DM+Serif+Display&display=swap");
/* font-family: 'DM Sans', sans-serif;
font-family: 'DM Serif Display', serif; */

body {
  padding: 0px 0px 120px 0px;
  margin: 0px 150px;
  font: 30px "DM Sans", Helvetica, Arial, sans-serif;
}

.err {
  font-size: 16px;
  color: red;
  margin-left: 100px;
}

ul {
  list-style: none;
}

.logo {
  font-size: 58px;
  margin-left: 80px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.buttons-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 40px;
}

a {
  margin: 0px 10px;
  font-size: 24px;
  text-decoration: none;
  color: darkblue;
}

.logo a {
  font-size: 58px;
  color: black;
  text-align: start;
  margin: 0px;
}

#textbody {
  display: flex;
  flex-direction: column;
  margin: 0px 200px;
  font-size: 28px;
  font-weight: 400;
}

#form {
  margin: 0px 200px;
}

.form-input {
  width: 650px;
  height: 30px;
  font-size: 16px;
  margin-bottom: 10px;
}

#form a {
  font-size: 24px;
}

#body {
  margin: 0px 200px;
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}

.filter a {
  font-size: 16px;
}

.one-result {
  padding: 30px;
  margin: 30px 10px;
  width: 250px;
  background-color: lightblue;
  font-size: 0.6em;
  line-height: 0.6em;
}

.show-btn {
  margin: 50px 0px 15px -5px;
}

.one-result a {
  font-size: 1em;
  padding: 8px;
  background-color: darkcyan;
}

.results-parent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.results-flex {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}

.questionaire {
  margin-left: 100px;
}

.file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 6px;
  cursor: pointer;
  font-size: 16px;
}

input[type="file"] {
  display: none;
}

.description {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5em;
  margin: 0px 0px 50px;
}

.questionaire p {
  font-size: 24px;
  font-weight: normal;
}

.create-btn {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 6px;
  cursor: pointer;
  font-size: 24px;
  margin: 30px 0px;
  color: black;
  font-weight: 500;
}

.home-btn {
  font-size: 16px;
}

.show-company {
  margin-left: 100px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.show-company p {
  font-size: 16px;
  color: gray;
}

.show-company a {
  font-size: 16px;

  margin: 0px;
}

/* .company-infos {
  width: 500px;
} */

.company-head {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.company-head img {
  width: 90px;
  height: 90px;
  margin-right: 30px;
}

.company-head h2 {
  padding: 0px;
  margin: 0px;
}

.answer-container {
  margin: 0px 80px 0px 120px;
}
.answers {
  width: 300px;
  margin: 0px;
}

.answers h2 {
  margin: 35px 0px 40px 0px;
}

.answers h6 {
  font-weight: normal;
  font-size: 24px;
  margin: 0px;
}

.answers p {
  font-size: 24px;
  color: darkblue;
}

.proof-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.picture-proof-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
/*# sourceMappingURL=style.css.map */
